/* Basic CSS reset, font selection, color pallette */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-dark-navy: #020c1b;
  --color-navy: #0a192f;
  --color-light-navy: #112240;
  --color-lightest-navy: #233554;
  --color-green: #64ffda;
  --color-light-slate: #a8b2d1;
  --color-lightest-slate: #ccd6f6;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px/16px = 62.5% => 1 rem = 10px */
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-lightest-slate);
  background-color: var(--color-light-navy);
  background-image: url('https://www.transparenttextures.com/patterns/transparent-square-tiles.png');
}

/* Button */

#btn {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  color: var(--color-green);
  background-color: var(--color-light-navy);
  border: 1px solid var(--color-green);
  border-radius: 5px;
  transition: all 0.2s;
}

#btn:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

/* Link hover effect */
.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-green);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

/* Navigation */

.nav {
  height: 7vh;
  padding: 0.5rem;
  padding-top: 1rem;
  font-size: 1.4rem;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__svg {
  height: 5rem;
  width: 5rem;
}

.nav__links a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--color-lightest-slate);
  padding: 0 1rem;
  transition: all 0.2s;
}

.nav__links a:hover {
  color: var(--color-green);
}

.nav__links span {
  font-size: 1.3rem;
  color: var(--color-green);
  margin-right: 0.5rem;
}

.nav__links--resume {
  font-size: 1.2rem;
  margin: 1rem;
}

/* SECTION - GENERAL*/

section {
  padding: 0 15rem;
}

/* LANDING */

.landing {
  height: 89vh;
  line-height: 1;

  display: flex;
  align-items: center;
}

.landing__leading {
  font-size: 1.6rem;
  margin-bottom: 2rem;

  color: var(--color-green);
}

.landing__name {
  font-size: 7rem;
  margin-bottom: 1.5rem;
}

.landing__purpose {
  font-size: 6rem;
  color: var(--color-light-slate);
  margin-bottom: 2rem;
}

.landing__explanation {
  margin-right: 55%;
  line-height: 2;
  margin-bottom: 3rem;
}

.landing__explanation--emojis {
  font-size: 1.9rem;
}

.landing__hireme {
  font-size: 2rem;
}

.landing__photo {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border: 1px solid var(--color-green);
  /* border-radius: 1rem; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  justify-self: flex-start;
  align-self: center;
  margin-right: 10rem;
}

.scroll {
  font-size: 2rem;
  text-align: center;
  color: var(--color-green);
}

/* ABOUT */

.about {
  padding: 10rem 30rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr minmax(min-content, 14rem);
}

.about__numbers {
  font-size: 2rem;
  color: var(--color-green);
}

.about__bio {
  grid-column: 1;
}

.about__bio p {
  margin: 1.5rem 0;
}

.about__bio p:first-child {
  margin: 0.5rem 0;
}

.about__bio ul {
  column-count: 2;
  list-style: none;
  transform: translateX(2rem);
}

.about__bio ul li::before {
  content: '\2022';
  color: var(--color-green);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.about__bio a {
  text-decoration: none;
  color: var(--color-green);
}

.about__album {
  margin-left: 3rem;
  grid-column: 2;
  grid-row: 1 / -1;

  position: relative;
}

.about__pic {
  height: 35rem;
  align-self: center;
  justify-self: center;
  border: 3px solid var(--color-green);

  position: absolute;

  transform: rotate(3deg) translateY(1rem);
  transition: all 0.2s;
}

.about__pic--1 {
  z-index: 3;
}

.about__pic--1:hover {
  filter: drop-shadow(0 0 0.75rem var(--color-green));
}

.about__pic--2 {
  z-index: 2;
  transform: rotate(3deg) translateY(4rem) translateX(4rem);
}

.about__pic--2:hover {
  z-index: 4;
  filter: drop-shadow(0 0 0.75rem var(--color-green));
}

.about__pic--3 {
  z-index: 1;
  transform: rotate(3deg) translateY(7rem) translateX(7rem);
}

.about__pic--3:hover {
  z-index: 4;
  filter: drop-shadow(0 0 0.75rem var(--color-green));
}

.projects {
  margin-top: 10rem;
}

.projects h1 {
  margin-left: 5rem;
}

.projects__container {
  margin: 2rem 15rem 0 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.projects__card {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  display: grid;
  grid-template-rows: 2;
}

.projects__card--featured {
  grid-column: 1 / -1;
}

.projects__title {
  font-size: 3rem;
  transform: translateY(-1rem);
}

.projects__picture {
  grid-row: 1;
}

.projects__info {
  grid-row: 2;
}

.projects__image {
  margin-bottom: 0.5rem;
}

.projects__image img {
  width: 100%;
  display: block;
}

.projects__info,
.projects__description {
  color: var(--color-lightest-slate);
  margin-top: 1rem;
}

.projects__tag {
  color: var(--color-green);
  background-color: var(--color-navy);
  padding: 0.75rem;
  border-radius: 5px;
}

.contact {
  margin-top: 7rem;
  padding: 10rem 30rem;
}

.contact__container {
  margin-left: 1rem;
  /* margin-top: 1rem; */
  margin-right: 30rem;
  padding: 5rem;
  padding-top: 1rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.contact__container h1 {
  font-size: 6rem;
}

.contact__container p {
  margin-bottom: 1rem;
}

.contact__form {
  grid-column: 2;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.contact__form h1 {
  margin: 0 1rem;
}

.contact__form--name {
  grid-row: 1;
  grid-column: 1 / 2;
}

.contact__form--email {
  grid-row: 1;
  grid-column: 2 / 3;
}

.contact__form--subject {
  grid-column: 1 / 3;
}

.contact__form--message {
  grid-column: 1 / 3;
}

.contact__form--button {
  grid-column: 1 / 3;
}

.contact__container input,
.contact__container textarea {
  font: inherit;
  font-size: 1.6rem;
  padding: 0.5rem;
  border: 1px solid var(--color-light-navy);
  border-radius: 5px;
  color: var(--color-dark-navy);
  background-color: var(--color-lightest-slate);
}

.footer {
  font-weight: 400;
  text-align: center;
  color: var(--color-green);
  padding: 0.5rem 0;
  background-color: var(--color-dark-navy);
}
